/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====================
    Geral
====================*/
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(10px + 1vw);
}
a {
    color: black;
    text-decoration: none;
}
main { 
	margin: 0 5vw 0 5vw;
}
/*====================
    HEADER
====================*/
header nav {
    margin: 5vw 5vw 5vw 5vw;
    display: flex;
    justify-content: space-between;
}
header nav ul {
   display: flex;
}
header nav ul li {
    margin: 0 2vw 0 0;
    font-size: 0.8rem;
    color: #553C16 ;
    padding: 7px;
    font-weight: bold;
}
/*====================
    MAIN TOPO
====================*/
main section.topo  {
    display: flex;
    justify-content: space-between;
}
main section.topo h1 {
    font-size: 2rem;
    margin: 7vw 2vw 5vw 0; 
    border-bottom: 2px #E5E5E5 solid;
    padding: 0 0 3vw 0;
}
main section.topo div.info {
    display: flex; 
    margin: 5vw 0 0 0;
}
main section.topo div.info div p span {
    color: #404852;
}
main section.topo div.topo-info {
    width: 60vw;
}
main section.topo div.topo-info div.info div p {
    margin: 0 1vw 1vw 0;
}
main section.topo div.topo-info div.info div img {
    margin: 0 1vw 1vw 0;
    width: 4vw;
}
/*====================
    MAIN MEIO
====================*/
main section.meio {
    border-top: 1.5px #9E9B9B solid;
    display: flex;
    padding: 5vw 5vw 5vw 0;
    margin: 5vw 0 0 0;
}
main section.meio div h2 {
    font-size: 2rem;
    margin: 0 0 2vw 0;
}
main section.meio div p {
   color: #404852;
   width: 50vw;
}
main section.meio ul li h3 span {
    color: #9E9B9B;
    font-weight: bold;
}
main section.meio ul li {
    border-bottom: 1.5px #9E9B9B solid;
    margin: 0 5vw 3vw 5vw;
    padding: 0 3vw 3vw 3vw;
}
main section.meio ul li h3 {
    font-size: 1.3rem;
}
main section.meio ul li p {
    color: #9E9B9B;
    margin: 2vw 0 0 0;
}
/*==================
     FOOTER
==================*/
footer {
	text-align: center;
	margin: 4vw 0 4vw 0;
    border-top: 1.5px #9E9B9B solid;
    padding: 5vw 5vw 5vw 5vw;
}
footer ul {
	display: flex;
	justify-content: center;
}
footer ul li {
	margin: 0 10px 10px 10px;
	font-size: 1.5rem;
}
